.ly {
	width: 100%;
	height: 98vh;
	display: grid;
	grid-template-columns: 25% 75%;
}

.full {
	width: 96%;
	height: 100%;
	padding-left: 4%;
}

.innerLy {
	width: 100%;
	height: inherit;
	display: grid;
	grid-template-columns: 50% 50%;
}

.sidebar {
	width: 96%;
	height: inherit;
	padding-left: 4%;
	border-right: 1px solid #3a3a3a;
}
