.card {
	width: 40%;
	display: grid;
	padding: 1rem;
	justify-self: center;
	box-shadow: rgba(10, 10, 10, 0.3) 0 0 2px 0;
	grid-template-rows: 2rem 1fr;
}

.ch {
	padding: 1rem 0;
	border-bottom: solid 1px #3a3a3a;
}

.cb {
	padding: 1rem 0;
	font-size: 1.125em;
}
