.Survey__grid {
    width: 100%;
    height: 99vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.Survey__col {
    width: 100%;
    display: grid;
    border-right: 1px solid #6a6a6a;
}

.Survey__card {
    margin: 1rem;
    border-radius: .375rem;
    box-shadow: rgba(10, 10, 10, 0.3) 0 0 3px 0;
}